table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 900px;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:first-child {
    background-color: #cccccc;
}

tr:hover:not(:first-child) {
    background-color: #e2e2e2;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}